 body {
        background: rgb(88, 88, 88);
        height: 100vh;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
        color: white;
      }

      header {
        background: #000;
        color: white;
        font-size: 1rem;
      }

      .container {
        max-width: 1140px;
        height: 100px;
        margin: auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .container i {
        font-size: 2.5rem;
      }

      nav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        padding: 2rem;
        background-color: #818AA3;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .open-nav {
        right: 0;
        transition: right 0.5s ease;
      }

      .back-nav {
        right: 100%;
        transition: right 0.5s ease;
      }

      .close-nav i {
        float: right;
        cursor: pointer;
      }

      .menu{
        cursor: pointer;
      }

      @media (min-width: 576px) {
        nav {
          position: static;
          display: flex;
          gap: 2rem;
          background-color: black;
          flex-direction: row;
          justify-content: flex-end;
        }

        .menu{
          display: none;
        }

        .close-nav {
          display: none;
        }
      }